.add-new {
    margin-bottom:10px;
}
.open-file {
    margin-left: 20px;
    margin-right: 20px;
}
.pic-upload {
    margin-right: 20px;
}
.image-alert {
    margin: 20px 30% 0;
}
a.model-header {
    font-size: 17.5px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
a.model-header:hover, a.model-header:focus {
    text-decoration: underline;
}


/*ul.nav li.dropdown:hover ul.dropdown-menu{*/
    /*display: block;*/
/*}*/

/* if you want to hide the arrow */
/*a.menu:after, .dropdown-toggle:after {*/
    /*content: none;*/